.quickActionsCard {
  justify-content: space-between;
  transition: 0.2s;
  flex-wrap: nowrap;

  &:hover {
    color: $primary;
    border: 1px solid $primary;
    transition: 0.2s;

    .quickActionsPlusIcon {
      background-color: $primary;
      transition: 0.2s;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
  }

  .quickActionsCardTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    text-align: start;

    @media screen and (max-width: 768px) {
      justify-content: start;
      align-items: center;
    }

    .quickActionsIconTest {
      display: flex;

      img {
        width: 30px;
      }
    }
  }

  .quickActionsIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
      width: 50px;
    }
  }

  .quickActionsPlusIcon {
    align-self: end;
    display: flex;
    background-color: $neutral900;
    color: $neutral100;
    border-radius: 50%;
    width: fit-content;
    padding: 0.3rem;
    transition: 0.2s;
  }
}
