.statusLight {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.active {
    border: 1px solid $success600;
    background-color: $success600;
  }

  &.inactive {
    border: 1px solid $error500;
    background-color: $error500;
  }
}

.employeeStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid $neutral800;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;

  &.active {
    border: 1px solid $success600;
    color: $success600;
    background-color: rgb($success300, 0.2);
  }

  &.inactive {
    border: 1px solid $error500;
    color: $error500;
    background-color: rgb($error300, 0.2);
  }
}
