.departmentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $neutral600;
  flex-wrap: wrap;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
