.salesOrderCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  cursor: pointer;
  text-align: start;

  .salesOrderCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0.8rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }

    .salesOrderCardHeaderLeft {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      @media screen and (max-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
      }

      .salesOrderStatus {
        display: flex;
        gap: 0.4rem;
        flex-wrap: wrap;
      }
    }

    .salesOrderCardRight {
      width: 50%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        gap: 0.4rem;
        width: 100%;
      }

      .salesOrderCardDates {
        display: flex;
        gap: 0.4rem;
        align-self: flex-end;

        @media screen and (max-width: 768px) {
          width: 100%;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }

    .salesOrderCardHeaderDetails {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      gap: 0.2rem;

      @media screen and (max-width: 768px) {
        flex-direction: row;
        gap: 0.4rem;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

        p {
          width: fit-content;
        }
      }

      .truncate {
        max-width: 200px;
      }

      .salesOrderCustomer {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        flex-wrap: wrap;
        text-wrap: wrap;
      }
    }
  }

  p {
    text-align: start;
  }
}
