.employeeLinkWrapper {
  display: flex;
  align-items: center;
  gap: 8px; // Space between photo and name
  text-decoration: none;
  position: relative;
  width: fit-content;

  .listEmployeePhoto {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $dark;
    border-radius: 50%;
    border: 2px solid $neutral600;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 101%;
      height: 101%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  .listEmployeePhotoName {
    position: absolute;
    right: 30px;
    width: max-content;
    padding: 0.4rem;
    border: 1px solid $neutral600;
    border-radius: 8px;
    background-color: $neutral900;
    color: $neutral100;
  }

  .listEmployeePhotoNameRight {
    position: absolute;
    left: 30px;
    width: max-content;
    padding: 0.4rem;
    border: 1px solid $neutral600;
    border-radius: 8px;
    background-color: $neutral900;
    color: $neutral100;
  }
}
