.employeeList {
  gap: 0.5rem;
  padding: 0.3rem;
  flex-wrap: wrap;
  cursor: pointer;

  .employeeCardHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    // @media screen and (max-width: 425px) {
    //   align-items: start;
    // }

    .employeeCardStatusContainer {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 0.2rem;

      // @media screen and (max-width: 425px) {
      //   flex-direction: column;
      //   align-items: end;
      // }

      .listArrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .employeeCardPhoto {
      width: 40px;
      height: 40px;
      background-color: $dark;
      border-radius: 50%;
      border: 2px solid $neutral600;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    .employeeCardHeaderDetails {
      display: flex;
      justify-content: start;
      gap: 0.4rem;
      text-align: start;
      flex-wrap: wrap;
      width: 100%;

      // @media screen and (max-width: 768px) {
      //   gap: 0.2rem;
      //   flex-direction: column;
      // }
    }
  }

  .employeeListMobile {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.managerBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $info500;
  border-radius: 1rem;
  padding: 0.1rem 0.3rem;
  color: $info500;
  background-color: rgba($info500, 0.2);
  text-align: center;
  width: fit-content;
}
