.statusBadge {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid $neutral800;
  width: fit-content;
  min-width: fit-content;
  height: min-content;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;

  &.active {
    border: 1px solid $success600;
    color: $success600;
    background-color: rgb($success300, 0.2);
  }

  &.inactive {
    border: 1px solid $warning600;
    color: $warning600;
    background-color: rgb($warning600, 0.2);
  }

  &.retired {
    border: 1px solid $neutral600;
    color: $neutral600;
    background-color: rgb($neutral600, 0.2);
  }

  .statusLight {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid $neutral400;
    background-color: $neutral400;

    &.active {
      border: 1px solid $success600;
      background-color: $success600;
    }

    &.inactive {
      border: 1px solid $warning600;
      background-color: $warning600;
    }

    &.retired {
      border: 1px solid $neutral600;
      background-color: $neutral600;
    }
  }

  .statusName {
    width: 100%;
    text-align: start;
  }
}
