.iconCardContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;

  &.blue {
    color: $info600;
    background-color: rgba($info600, 0.2);
    border: 1px solid $info600;
    border-radius: 4px;
    padding: 0.2rem;
  }

  &.yellow {
    color: $warning600;
    background-color: rgba($warning600, 0.2);
    border: 1px solid $warning600;
    border-radius: 4px;
    padding: 0.2rem;
  }

  &.green {
    color: $success600;
    background-color: rgba($success600, 0.2);
    border: 1px solid $success600;
    border-radius: 4px;
    padding: 0.2rem;
  }

  &.red {
    color: $error600;
    background-color: rgba($error600, 0.2);
    border: 1px solid $error600;
    border-radius: 4px;
    padding: 0.2rem;
  }

  &.grey {
    color: $neutral500;
    background-color: rgba($neutral300, 0.2);
    border: 1px solid $neutral500;
    border-radius: 4px;
    padding: 0.2rem;
  }
}
