.customLegend,
.stackedLegend {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.legendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  gap: 0.4rem;

  .legendHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .legendColor {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      display: inline-block;
    }

    .legendLabel {
      flex: 1;
      margin-left: 6px;
    }
  }
}
