.cardLayout5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  // padding: 0.8rem;
  width: 100%;
}

.cardLayout3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  // padding: 0.8rem;
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardLayout2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.8rem;
  // padding: 0.8rem;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }
}

.cardLayout1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  // padding: 0.8rem;
  width: 100%;

  @media screen and (max-width: 1024px) {
    gap: 0.4rem;
  }
}

.cardPadding {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 0.8rem;
  padding: 0.8rem;
}

.cardGapLarge {
  gap: 1.3rem;
}

.cardLayoutFlexFull {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
}
