.cardLayout5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
  padding: 0.8rem;
  width: 100%;
}

.cardLayout3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  padding: 0.8rem;
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardLayout2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 0.8rem;
  padding: 0.8rem;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardLayout1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  padding: 0.8rem;
  width: 100%;
}
