.payrollCycleFilterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  .payrollCycleFilterLabel {
    width: 40%;
    text-align: start;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .selectContainer {
    width: 100%;
  }
}
