.projectMemberAvatarStack {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;

  .projectMemberAvatarStackImage {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $neutral100;
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .projectMemberAvatarStackOverflow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $neutral500;
    border: 2px solid $neutral100;
    margin-left: -10px;
  }
}
