.projectMemberAvatarStack {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;

  &:hover {
    .projectMemberAvatarStackImage {
      border-color: $primary500;
      transition: border-color 0.3s ease-in-out;
    }

    .projectMemberAvatarStackOverflow {
      border-color: $primary500;
      background-color: $primary500;
      transition:
        border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    }
  }

  .projectMemberAvatarStackImage {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $neutral100;
    margin-left: -10px;
    transition: border-color 0.3s ease-in-out;

    &:first-child {
      margin-left: 0;
    }
  }

  .projectMemberAvatarStackOverflow {
    color: $neutral100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $neutral500;
    border: 2px solid $neutral100;
    margin-left: -10px;
    transition:
      border-color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }
}
