.ITAssetList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  cursor: pointer;

  @media screen and (max-width: 425px) {
    // flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.8rem;
  }

  .listHeader {
    display: flex;
    gap: 0.8rem;
    flex: 1;
    text-wrap: wrap;

    .ITAssetListIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      gap: 0.4rem;
    }
  }

  .listSegment {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;

    &.listSegmentMobile {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .listStatusContainer {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    @media screen and (max-width: 425px) {
      width: 100%;
      justify-content: end;
      gap: 0.4rem;
    }

    .listEmployeePhoto {
      width: 30px;
      height: 30px;
      background-color: $dark;
      border-radius: 50%;
      border: 2px solid $neutral600;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    .listArrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  p {
    text-align: start;
  }
}
