.ITAssetList {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  cursor: pointer;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.2rem;
    padding: 0.2rem;
  }

  .listHeader {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-wrap: wrap;
    width: 30%;
    flex: 3;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .ITAssetListIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      gap: 0.4rem;
    }
  }

  .listSegment {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;

    &.listSegmentMobile {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &.listSegmentStatusContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      justify-content: end;

      @media screen and (max-width: 768px) {
        // width: 100%;
        // justify-content: space-between;
        gap: 0.4rem;
        flex: none;
      }

      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }

    &.listSegmentStatus {
      @media screen and (max-width: 768px) {
        align-items: end;
        max-width: fit-content;
      }
    }

    .listEmployeePhoto {
      width: 30px;
      height: 30px;
      background-color: $dark;
      border-radius: 50%;
      border: 2px solid $neutral600;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        object-position: center;
        display: block;
      }

      .listEmployeePhotoName {
        position: absolute;
        bottom: 40px;
        // right: 0;
        width: fit-content;
        padding: 0.4rem;
        border: 1px solid $neutral600;
        border-radius: 8px;
      }
    }

    .listArrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  p {
    text-align: start;
  }
}
