.AISummaryCard {
  border: 1px solid #9240ce;
  background-color: rgba(#b077da, 0.1);
}

.AISummaryHeaderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #9240ce;
  flex-wrap: wrap;
  gap: 0.4rem;

  .AISummaryHeader {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.AISummaryBody {
  border: 1px solid #9240ce;
  background-color: rgba($neutral100, 0.1);
  padding: 0.8rem;
  border-radius: 0.4rem;
  text-align: justify;

  h3 {
    font-size: 20px;
  }

  p {
    margin-bottom: 1rem;
  }

  ul,
  ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;

    li {
      list-style-type: disc;
      margin-bottom: 1rem;
    }
  }
}
