.caseCard {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  min-width: 0;
  text-align: start;
  cursor: pointer;
  height: fit-content;

  .caseCardMainRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .caseCardEmployeeGroup {
    display: flex;
    align-items: center;
    // flex: 1 1 200px;
    min-width: 0;
  }

  .caseCardStatusWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .caseCardStatusGroup {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
  }
}
