.leadSidebarContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem 0.8rem 0.8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.8rem;

  // DATE TIME
  .leadSidebarDateTimeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  //   HEADER
  .leadSidebarHeaderContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    gap: 0.4rem;

    .leadSidebarDetails {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 100%;
    }

    .leadSidebarImageContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: end;
      text-wrap: nowrap;
      gap: 0.4rem;
    }
  }

  //   ON HOLD / CANCELLED
  .leadSidebarOnHoldContainer {
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
  }

  .leadSidebarActionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    flex-wrap: wrap;
  }
}
