.projectMembersAddPanel {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 12px;
  padding: 0 12px;

  .selectContainer {
    min-width: 220px;
  }

  .projectMembersAddPanelActions {
    display: flex;
    gap: 8px;
  }
}

.projectMemberRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  cursor: pointer;
}

.projectMemberDetailPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 0 1rem;
  width: 100%;

  .projectMemberRoleSelect {
    min-width: 160px;
  }
}
