.projectMembersAddPanel {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 12px;

  .selectContainer {
    min-width: 220px;
  }

  .projectMembersAddPanelActions {
    display: flex;
    gap: 8px;
  }
}

.projectMemberRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  cursor: pointer;
}

.projectMemberDetailPanel {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding: 16px;

  .projectMemberRoleSelect {
    min-width: 160px;
  }
}
