.tooltipPopover {
  position: fixed;
  transform: translate(-50%, calc(-100% - 8px));
  z-index: 9999;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid $neutral400;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  white-space: nowrap;
  pointer-events: none;
  width: max-content;
}
