.attendanceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .attendanceCardSegment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 100%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .attendanceCardNameHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.attendanceCardClockWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}
