.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: start;
  width: 100%;

  .profileOverview {
    display: flex;
    gap: 3rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .profilePhoto {
      width: 150px;
      height: 150px;
      background-color: $dark;
      border-radius: 50%;
      border: 4px solid $neutral600;
      overflow: hidden; // ensures image stays inside the circle
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 101%;
        height: 101%;
        object-fit: cover; // fills the circle nicely without stretching
        object-position: center; // centers the subject
        display: block; // removes default inline spacing
      }
    }

    .profileOverviewDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        align-items: center;
      }
    }
  }

  .profileSection {
    width: 100%;

    .profileSectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      h2 {
        width: max-content;
      }
    }

    .profileDetails {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;

      .profileData {
        border-radius: 5px;
        border: 1px solid $neutral400;
        padding: 0.5rem;
        height: 100%;
      }
    }
  }
}
