.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: start;
  width: 100%;

  .profileSection {
    width: 100%;

    .profileSectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      h2 {
        width: max-content;
      }
    }
  }
}

.profileDetails {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  gap: 0.5rem;

  .profileData {
    border-radius: 5px;
    border: 1px solid $neutral400;
    padding: 0.5rem;
    height: 100%;
  }
}

.profileOverview {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .profileOverviewDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: start;

    @media screen and (max-width: 425px) {
      align-items: center;
    }

    p {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

.profilePhoto {
  width: 150px;
  height: 150px;
  background-color: $dark;
  border-radius: 50%;
  border: 4px solid $neutral600;
  overflow: hidden; // ensures image stays inside the circle
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    width: 100px;
    height: 100px;
  }

  img {
    width: 101%;
    height: 101%;
    object-fit: cover; // fills the circle nicely without stretching
    object-position: center; // centers the subject
    display: block; // removes default inline spacing
  }
}

.assetCard {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid $neutral400;
  border-radius: 8px;
  padding: 0.5rem;
}
