.dataTableWrapper {
  width: 100%;

  // Minimalist scrollbar for WebKit (Chrome, Edge, Safari)
  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($neutral600, 0.9); // Light minimal color
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($neutral600, 0.6);
  }
}

/* TABLE */
.dataTable {
  width: 100%;
  min-width: max-content; // ensures scroll on smaller screens
  border-collapse: collapse;

  thead {
    color: $neutral900;
    font-size: 14px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 2;
      text-align: left;
      padding: 10px 12px;
      font-weight: 600;
      border-bottom: 1px solid $neutral300;
      white-space: nowrap;
      background-color: rgb($neutral300, 0.8);
      backdrop-filter: blur(2px);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $neutral200;

      &:hover {
        background-color: rgb($neutral400, 0.2);
      }
    }

    td {
      padding: 4px;
      vertical-align: middle;
      white-space: nowrap;
      width: fit-content;
    }
  }
}

/* ICON COLUMN */
.iconCell {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* INPUTS (READ-ONLY LOOK) */
.dataTable input {
  width: 100%;
  border: 1px solid $neutral300;
  border-radius: 4px;
  font-size: 13px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }

  &:disabled {
    color: $neutral500;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

/* INPUTS (READ-ONLY LOOK) */
.dataTable select {
  width: 100%;
  border: 1px solid $neutral300;
  border-radius: 4px;
  font-size: 13px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }

  &:disabled {
    color: $neutral500;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

/* STATUS COMPONENT ALIGNMENT */
.dataTable .statusBadge {
  min-width: 90px;
}
