.itAssetsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.8rem;
}

.activeFiltersBar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.filterTag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 16px;
  border: 1px solid $neutral500;
}

.filterTag button {
  display: flex;
  flex-basis: 1;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: $primary;
  }
}

.clearAllBtn {
  margin-left: auto;
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 12px;
}
