.itAssetsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $neutral600;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}

.itAssetCard {
  .itAssetCardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
    }

    .itAssetCardHeaderDetails {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media screen and (max-width: 425px) {
        justify-content: space-between;
        width: 100%;
      }

      .itAssetCardHeaderCode {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }
  }

  p {
    text-align: start;
  }
}
